
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .caja {
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
  }

  .nombre{
    margin-bottom: 15px;
  }
  
  .apellidos {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  input, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .móvil {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
 
  
  